<!DOCTYPE html>
<html lang="zh-cn" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no">
    <title>@ViewData["Title"] - Hello, Cockroach•soul.</title>
    <meta name="keywords" content="蟑螂•魂">
    <meta name="description" content="蟑螂•魂">
    <meta name="author" content="蟑螂•魂">
    <meta name="robots" content="none">
    <meta name="generator" content="Visual Studio Code">
    <meta name="copyright" content="Copyright 蟑螂•魂 2022">
    <meta http-equiv="pragma" content="no-cache">
    <base target="_self">
    <link rel="shortcut icon" href="~/assets/img/favicon.ico"/>
    <link rel="apple-touch-icon" href="~/assets/img/touchicon.png"/>
    <link rel="stylesheet" href="~/plugins/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="SightX" asp-action="Index">MQTT 消息交互测试</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/index.html">index.html</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="SightX" asp-action="Index">首页</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="SightX" asp-action="Client">MQTT Client</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <span>&copy;蟑螂•魂 2022</span>
        </div>
    </footer>

    <script type="text/javascript" src="~/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/assets/js/wenque-all.js"></script>
    <script type="text/javascript">
        $(function () {
            console.log('WenQue version: ',WenQue.version);
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
